<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, intial-scale=1">
        <title> I'm Sooooo Social | Feed</title>
        <link href="">
    </head>
    <body>
    <h1> Post Feed </h1>
    {% for post in post%}
        <div>
            <img src="{{post['post_image']}}">
            <p>{{post['post_text']}}</p>
            {% endfor %}
        </div>
    </body>
</html>