<!DOCTYPE html>
<html lang="en" class="h-100">

    <head>
 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, intial-scale=1">
        <title> I'm Sooooo Social | Feed</title>
        <link href="/Users/ECU/Desktop/Despondent/static/under.css">
    </head>
    <body>
    <h1> Post Feed {{current_user.username}} </h1>
    {% for post in post%}
        <div>
            <img src=" ">

            <p>{{post['post_text']}}</p>
            {% endfor %}
            <form action="/post" method="post" enctype="multipart/form-data">
                <textarea name="post_text"></textarea>
                <input name="post_image" type="file">
                <input type = "submit">
            </form>
        </div>
    </body>
</html>       